@model Harmic.Models.TbProduct

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sửa sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Sửa sản phẩm</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="Edit">
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="ProductId" />
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label">Tiêu đề</label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Alias" class="control-label"></label>
                                    <input asp-for="Alias" class="form-control" />
                                    <span asp-validation-for="Alias" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoryProductId" class="control-label">Danh mục</label>
                                    <select asp-for="CategoryProductId" class="form-control" asp-items="ViewBag.CategoryProductId">
                                        <option value="0" selected>--[Chọn danh mục]--</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Image" class="control-label">Ảnh</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-success" onclick="openDialog()">Choose a picture</button>
                                        </div>
                                        <!-- /btn-group -->
                                        <input type="text" class="form-control" id="file_input" asp-for="Image" aria-describedby="button-addon2">
                                    </div>
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label">Mô tả</label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Detail" class="control-label">Chi tiết</label>
                                    <textarea asp-for="Detail" class="form-control"></textarea>
                                    <span asp-validation-for="Detail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label">Giá</label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PriceSale" class="control-label">Giá giảm</label>
                                    <input asp-for="PriceSale" class="form-control" />
                                    <span asp-validation-for="PriceSale" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Quantity" class="control-label">Số lượng</label>
                                    <input asp-for="Quantity" class="form-control" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Star" class="control-label">Sao</label>
                                    <input asp-for="Star" class="form-control" />
                                    <span asp-validation-for="Star" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsNew" /> Sản phẩm mới
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsBestSeller" /> Sản phẩm bán chạy
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsActive" /> Hiển thị
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Sửa" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@{
    var summerNote = new Harmic.Areas.Admin.Models.SummerNote("#Detail");
    <partial name="_SummerNote" model="summerNote" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
